.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 2rem;
  color: #2874a6;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.navbar {
  padding: 1rem;
  border-top: 1px solid #ffff;
  border-bottom: 1px solid #ffff;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #d0ece7;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #5dade2;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d0ece7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e8daef;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.container > .heading {
  text-align: center;
  font-size: 2rem;
  color: #2874a6;
  font-weight: bold;
}
.container > h6 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.container > h6 > a {
  color: #2874a6;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 5px;
}
.p {
  width: 80%;
  height: 90%;
  font-size: 1.4rem;
  line-height: 30px;
}
.img1 {
  height: 50vh;
  object-fit: cover;
  border-radius: 0.5rem;
}
p.p {
  width: 100%;
}
.footer {
  border-top: 1px solid #fff;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.span5 {
  text-align: center;
}
.span5 a {
  color: #2874a6;
}
.footer h2 {
  width: 85%;
}
