.header {
  text-align: center;
  margin-block: 2rem;
}

.header h1 {
  font-size: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 30vw;
  min-height: 70vh;
  text-align: center;
  border: 2px solid #fff;
}

.card h3 {
  font-size: 1.3rem;
}
.card h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

.card ul {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 2px;
  margin-left: 10px;
  text-align: left;
}
.card ul li {
  font-size: 1.2rem;
}
.img {
  margin-block: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-inline: 1rem;
}
.footer__upper {
  font-size: 1.5rem;
  text-align: center;
  margin-block: 1rem;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
}
.footer > p {
  margin-left: 50%;
}

@media (width <= 1160px) {
  .card ul li {
    font-size: 1rem;
  }
}

@media (width <= 989px) {
  .card > ul {
    margin-left: 0;
  }
  .card {
    width: 70%;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }
}
@media (width <= 450px) {
  .card {
    width: 90%;
    height: 75vh;
  }
}
