@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding: 0 0.4rem;
  font-family: "Roboto Condensed", sans-serif;
}

.dark-mode {
  background-color: #333;
  color: #ffffff;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}
.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.2s ease-in-out;
  background-color: crimson;
  color: azure;
  font-size: 1.1rem;
  text-align: center;
}
.button:hover {
  box-shadow: 5px 5px 0 rgb(247, 236, 239);
}
.email {
  font-size: 14px;
  color: red;
}
.top-bar {
  display: block;
  position: fixed;
  background-color: #111;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 15px;
  z-index: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 9999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: flex;
  transition: 0.3s;
  align-items: center;
}

.sidebar a:hover {
  background-color: #555;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

.sidebar a i {
  margin-right: 10px;
  font-size: 20px;
}
